<h1>Project Management API</h1>
<hr>
<strong>Sign Up</strong></br>
POST   api/v1/auth(.:format), PARAMS: email, password, password_confirmation</br>
<strong>Sign In</strong></br>
POST   api/v1/auth/sign_in(.:format), PARAMS: email, password</br>
<strong>Sign Out</strong></br>
DELETE api/v1/auth/sign_out(.:format)</br>

