<h1>Project Management API</h1>
<hr>
<h2>Routes</h2></br>
<strong>Authentication</strong></br>

POST   /v1/auth/sign_in(.:format), PARAMS: email, password</br>
DELETE /v1/auth/sign_out(.:format)</br>
POST   /v1/auth(.:format), PARAMS: email, password, password_confirmation</br></br>


